.container-list {
  margin: 80px auto;
  position: relative;

  .wrap-item {
    margin-top: 30px;

    .img-list {
      width: 200px;
    }

    .ant-list-item {
      background-color: #fff;
      margin-bottom: 20px;
    }
  }
}

.container-detail {
  margin: 80px auto;

  .img-detail {
    width: 100%;
  }

  .card-detail {
    background-color: #fff;
    padding: 20px;
  }
}