/* Document level adjustments */
html {
  font-size: 14px;
}

@media (max-width: 900px) {
  html { font-size: 14px; }
}

@media (max-width: 400px) {
  html { font-size: 12px; }
}

.container {
  width: 1140px;
  margin: 0 auto;

  @media screen and (max-width: 1200px){
    width: 960px;
  }

  @media screen and (max-width: 992px){
    width: 720px;
  }

  @media screen and (max-width: 768px){
    width: 540px;
  }

  @media screen and (max-width: 576px){
    width: 100%;
    padding: 0 15px;
  }
}